// Container widths
$container-width: 1549px;

// Colors
$primary-color:		#222C47;
$secondary-color:	#8371DF;
$tertiary-color:	#F63737;
$white:				#ffffff;
$black:				#000;

$product-color-100: #F63737;
$product-color-200: #3526E0;
$product-color-300: #16AC52;
$product-color-400: #F3DF2A;
$product-color-500: #BC00FE;


// $grey-50: #F7F7F7;
$grey-100: #F4F6FA;
$grey-200: #D9D9D9;
$grey-400: #C2C5CB;


// Fonts
$primary-font: 'Outfit', sans-serif;

// Font Sizes
$font-size-xsmall:	0.625rem;
$font-size-small:	0.875em;
$font-size-base:	1em;
$font-size-large:	1.169em;
$font-size-xlarge:	1.375em;

// Font Weights
$font-weight-r: 400;
$font-weight-m: 500;
$font-weight-sb: 600;
$font-weight-b: 700;
$font-weight-xb: 800;

// Heading sizes
$font-size-h1-large: 5.5em;
$font-size-h1: 4.5em;
$font-size-h2: 3em;
$font-size-h3: 1.875em;
$font-size-h4: 1.5em;
$font-size-h5: 1.5em;
$font-size-h6: 1.4em;

// Breakpoints
$max-xxl: 2560px;
$fhd: 1920px;
$boot_bp: 1520px;
$mac: 1440px;
$lt: 1376px;
$ls: 1280px;
$lg: 1199px;
$ipad: 1024px;
$md: 991px;
$tab: 800px;
$sm: 767px;
$mb: 580px;
$mbs: 480px;
$ip: 420px;
$xs: 350px;