
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
.form-control,
textarea {
  background-color: $white;
  border-radius: 5px;
  border: 1px solid $white;
  color: $black;
  font-family: $primary-font !important;
  // font-size: $font-size-small !important;
  height: 51px !important;
  line-height: 1em;
  margin-bottom: 16px;
  padding: 5px 18px;
  vertical-align: middle;
  .qty-number-of-items & {
    background-color: $grey-100;
    border-color: $grey-100;
    margin-bottom: 0;
  }
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  font-family: $primary-font;
  font-size: $font-size-base;
  line-height: 1.15em;
  padding: 10px;
  vertical-align: middle;
  .qty-number-of-items & {
    background-color: $grey-100;
    border-color: $grey-100;
    @include transition-all;
    &:hover {
      background-color: $secondary-color;
      border-color: $secondary-color;
      color: $white;
    }
  }
}
input[type='button'] {
  height: 51px;
}
input[type='number'] {
  text-align: center;
  .qty-number-of-items & {
    max-width: 76px;
    width: 100%;
    text-align: right;
  }
}

textarea {
  resize: none;
  padding-left: .6em;
  width: 100%;
  height: auto !important;
}
label {
  display: block;
  position: relative;
  a {
    color: $secondary-color !important;
    text-decoration: underline;
    &:hover {
      color: $primary-color !important;
    }
  }
  input[type='checkbox'] {
    opacity: 0;
    margin-right: 4px;
    &:checked {
      + span {
        background-color: $secondary-color;
      }
    }
    + span {
      background-color: $white;
      border: 1px solid $grey-400;
      display: inline-block;
      height: 13px;
      left: 0;
      position: absolute;
      top: 10px;
      width: 13px;
    }
  }
  
}

select {
  border-radius: 5px;
  border: 1px solid $grey-400;
  display: block;
  height: 51px;
  max-width: 500px;
  padding: 14px;
  width: 100%;
}
// select {
//   border: 1px solid $white;
  
//   
// }

.btn.btn-lg {
  background-color: $secondary-color;
  border-color: $secondary-color;
  font-size: $font-size-base;
  transition: all .5s;
  width: 100%;
  &:hover {
    background-color: $tertiary-color;
    border-color: $tertiary-color;
  }
  .lp-form-wrapper & {
    margin-top: 12px;
    padding: .95rem 1.2rem;
  }
}



.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show > .btn-primary.dropdown-toggle {
    background-color: $secondary-color;
}


/*---- Placeholder ----*/
::-webkit-input-placeholder {
  color: $primary-color !important;
  opacity: 1;
  font-family: $primary-font;
}
\:-moz-placeholder {
  color: $black !important;
  opacity: 1;
  font-family: $primary-font;
}
::-moz-placeholder {
  color: $black !important;
  opacity: 1;
  font-family: $primary-font;
}
\:-ms-input-placeholder {
  color: $black !important;
  opacity: 1;
  font-family: $primary-font;
}
*::-webkit-input-placeholder {
  color: $black !important;
  opacity: 1;
  font-family: $primary-font;
}
*:-moz-placeholder {
  color: $black !important;
  opacity: 1;
  font-family: $primary-font;
}
*:-ms-input-placeholder {
  color: $black !important;
  opacity: 1;
  font-family: $primary-font;
}

fieldset {
    min-width: 0;
}