.navbar-nav {
    align-items: center;
}

.menu-item {
    position: relative;
    line-height: 1.5;
    margin: 0 13px;
    padding: 0 10px;
    @include max-mq ($md) {
        padding-bottom: 12px;
    }
    &.menu-item-cta {
        margin-right: 0;
        padding-right: 0;
        @include max-mq ($md) {
            margin-left: 0;
            padding-left: 0;
        }
        .nav-link-item {
            text-transform: none;
        }
    }
    a {
        font-size: $font-size-large;
        @include transition-all;
        &:hover {
            color: $secondary-color;
            svg {
                path {
                    fill: $secondary-color;
                }
            }
        }
        svg {
            path {
                @include transition-all;
            }
        }
    }
    &:hover {
        .sub-menu {
            opacity: 1;
            visibility: visible;
        }
    }
    &.menu-item-current {
        &:after {
            content: '';
            background-color: $primary-color;
            border-radius: 50%;
            bottom: -7px;
            height: 6px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            width: 6px;
            @include max-mq ($md) {
                bottom: 7px;
            }
        }
    }
    .nav-link-item-cta {
        margin-left: 15px;
        @include max-mq ($md) {
            margin-left: 0;
        }
    }
    img {
        margin: 0;
    }
    .cart-product-counter {
        background-color: $tertiary-color;
        border-radius: 50%;
        border: 1px solid $tertiary-color;
        bottom: -5px;
        color: $white;
        display: block;
        font-size: 10px;
        font-weight: $font-weight-m;
        height: 14px;
        line-height: 1.2;
        position: absolute;
        right: 8px;
        text-align: center;
        width: 14px;
        @include max-mq ($md) {
            bottom: 7px;
        }
    }
    .sub-menu {
        // padding: 10px 0 0;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba($color: $black, $alpha: 0.2);
        left: -50px;
        margin: auto;
        opacity: 0;
        padding: 0;
        position: absolute;
        right: -50px;
        text-align: center;
        text-align: left;
        top: 99%;
        transition: translate(10px, 0);
        visibility: hidden;
        width: 200px;
        z-index: 10;
        > li {
            
            padding-left: 15px;
            padding-right: 15px;
            border-bottom: 1px solid;
            &:last-of-type {
                border: none;
            }
            a {
                font-size: $font-size-base;
            }
        }
    }
}
.nav-container {
    display: flex;
    display: -webkit-box;
    justify-content: space-between;
    @include max-mq ($md) {
        display: block;
    }
    .main-navigation-menu & {
        @include max-mq ($mb) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .navbar-toggler {
        @include max-mq ($md) {
            float: right;
        }
        
    }
    .menu-header-nav {
        @include max-mq ($md) {
            background-color: $white;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 5px 10px rgba($color: $black, $alpha: 0.2);
        }
    }
}