.sidebar-tpl-row {
    padding-bottom: 25px;
    > .main-content-sidebar-tpl {
        @include min-max-mq($md, $ls) {
            flex: 0 0 71%;
            max-width: 71%;
        }
    }
}
.sidebar-content-sidebar-tpl {
    > div {
        @include max-mq($lg) {
            width: calc(100% + 45px);
        }
        @include max-mq($lg - 100) {
            width: calc(100% + 25px);
        }
        @include max-mq($md) {
            width: 100%;
        }
    }
}

.sidebar-cta-product {
    padding-bottom: 45px;
    padding-top: 45px;
    .products-item {
        border: 1px solid $grey-400;
        border-radius: 5px;
        margin-left: -35px;
        width: calc(100% + 35px);
        @include min-mq ($mac) {
            margin-left: -68px;
            width: calc(100% + 68px);
        }
        @include max-mq ($md) {
            margin-left: 0;
            width: 100%;
        }
        a {
            position: relative;
            display: block;
            &:hover {
                .products-item-image {
                    transform: scale(1.05);
                }
            }
        }
        .increase-icon-wrap {
            position: absolute;
            top: 1px;
            right: 25px;
        }
    }
    div.products-item-image {
        background-size: contain;
        @include min-max-mq($md, $lg) {
            min-height: 235px;
        }
    }
    .products-item-inner {
        > a {
            background-color: $grey-100;
            border-radius: 5px 5px 0 0;
        }
    }
}
.sidebar-content-sidebar-tpl-inner {
    background-color: $grey-100;
    position: relative;
    padding-bottom: 17px;
    padding-top: 83px;
    @include min-mq ($mac) {
        padding-left: 10px;
    }
    @include max-mq ($lg) {
        padding-top: 33px;
    }
    @include max-mq ($md) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @include max-mq ($mb) {
        padding-left: 20px;
        padding-right: 20px;
    }
    &:after {
        content: '';
        position: absolute;
        width: 53vw;
        background-color: $grey-100;
        height: 100%;
        left: -35px;
        top: 0;
        z-index: 0;
        @include min-mq ($mac) {
            left: -68px;
        }
        @include max-mq ($md) {
            display: none;
        }
    }
    aside {
        position: relative;
        z-index: 1;
        margin-bottom: 55px;
    }
    .widget-title {
        font-size: 2rem;
        margin-bottom: 0.5em;
        @include max-mq ($ipad) {
            font-size: 1.75em;
        }
    }
    .categories-list-item {
        background-color: $white;
        margin-bottom: 10px;
        position: relative;
        a {
            display: block;
            padding: 5px 20px 5px 19px;
            @include transition-all;
            &:hover {
                background-color: $secondary-color;
                color: $white;
                .cat-number {
                    color: $white;
                }
            }
        }
        .img-arrow-icon {
            position: absolute;
            right: 10px;
            top: 0;
            margin: 0;
            bottom: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            margin: 0;
        }
    }
    .cat-number {
        color: $secondary-color;
        font-size: $font-size-xsmall;
        font-weight: $font-weight-m;
        display: inline-block;
        vertical-align: top;
        @include transition-all;
    }
    .archive-list-item {
        margin-bottom: 1px;
    }
}

