footer.site-footer {
    position: relative;
    color: $primary-color;
    // overflow: hidden;
    background-size: cover;
    background-position: 0 -10px;
    .footer-bg-cover {
        img {
            bottom: 0;
            // height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: auto;
            width: 100%;
        }
    }
    .site-footer-container {
        padding-bottom: 59px;
        padding-top: 78px;
        @include max-mq ($sm) {
            padding-bottom: 38px;
            padding-top: 41px;
        }
    }
    .widget-title {
        font-size: $font-size-base;
        font-weight: $font-weight-sb;
    }
    img {
        margin: 0;
    }
    .contact {
        color: $primary-color;
        .entry-content {
            max-width: 600px;
            padding-top: 6px;
        }
    }
    h2.title {
        margin-bottom: 0.3em;
    }
    .title {
        img {
            margin-right: 12px;
            position: relative;
            top: -6px;
        }
    }
    .container {
        margin-bottom: 0;
    }
    .container,
    .subfooter {
        position: relative;
        z-index: 2;
    }
    .subfooter {
        background-color: transparent;
        .subfooter-container{
            border-top: 1px solid $white;
            padding-bottom: 70px;
            padding-top: 81px;
            @include max-mq ($sm) {
                padding-bottom: 40px;
                padding-top: 31px;
            }
        }
        p {
            margin-bottom: 0.7em;
        }
    }
    .menu-item-footer {
        font-size: $font-size-base;
    }
    .footer-widgets-wrapper {
        @include max-mq ($lg) {
            flex-wrap: wrap;
        }
        a {
            text-decoration: none;
            &:hover {
                color: $tertiary-color !important;
            }
        }
        .footer-widgets-links {
            @include max-mq ($lg) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        .footer-widgets-text-description {
            @include max-mq ($lg) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            @include max-mq ($sm) {
                padding-top: 31px;
            }
        }
    }
    .menu-main-menu-container {
        padding-top: 4px;
    }
    .text-content {
        padding-top: 9px;
    }
    .widget_text  {
        p {
            font-size: $font-size-small;
        }
    }
    .widget_media_img {
        img {
            margin-bottom: 10px;
        }
    }
    .menu-item-li {
        padding-bottom: 3px;
    }
    .footer-column-5 {
        .widget_text {
            margin-left: auto;
            @include min-mq ($mac) {
                max-width: 74%;
            }
        }
    }
    .footer-widgets-text-description {
        .widget {
            &.widget_text {
                @include max-mq ($sm) {
                    text-align: left;
                }
            }
            &.widget_media_img {
                @include max-mq ($sm) {
                    text-align: left;
                }
            }
        }
    }
}