.header {
    &.hero-section {
        height: 95.7vh;
        max-height: 1024px;
        position: relative;
        
        @include max-mq ($mac) {
            max-height: 800px;
        }
        @include max-mq ($lt) {
            max-height: 768px;
        }
        @include max-mq ($ls) {
            max-height: 725px;
        }
        @include max-mq ($mb) {
            height: auto;
            min-height: 545px;
        }
        
        .is-overlay {
            z-index: 1;
        }
        .is-boxes  {
            .is-container {
                padding-top: 0;
            }
        }
        .bg {
            .is-overlay-bg {
                @include min-mq ($fhd) {
                    background-position: center;
                }
                @include max-mq ($ipad) {
                    background-position: 70% 0;
                }
                &.is-overlay-pattern--bg {
                    background-position: 560px 0;
                }
                &.is-overlay-gradient--bg {
                    opacity: 0.8;
                }
            }
        }
        .is-box-centered {
            @include max-mq ($ipad) {
                vertical-align: top;
                padding-top: 100px;
            }
            @include max-mq ($mb) {
                vertical-align: middle;
                padding-top: 130px;
            }
            
        }
        .hero-title {
            text-transform: uppercase;
            font-weight: $font-weight-sb;
            color: $primary-color;
        }

        .hero-description {
            padding-top: 10px;
            color: $primary-color;
            p {
                font-size: 1rem;
            }
        }

        .hero-button-wrapper {
            padding-top: 4px;
        }
    }
}

.direction-pointer {
    bottom: 0;
    color: $primary-color;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 9;
    margin: auto;
    max-width: 120px;
    a {
        position: relative;
        padding-bottom: 40px;
        &:after {
            background-color: $primary-color;
            bottom: 0;
            content: "";
            height: 30px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            width: 1px;
            @include transition-all;
        }
        &:hover {
            color: $tertiary-color;
            svg {
                path {
                    fill: $tertiary-color;
                }
            }
            &:after {
                background-color: $tertiary-color;
            }
        }
    }
    .find-product {
        display: block;
        svg,
        img {
            position: relative;
            animation: pulse 1.9s infinite;
        }
        svg {
            path {
                @include transition-all;
            }
        }
    }
    p {
        margin-bottom: 0.4em;
        margin-left: auto;
        margin-right: auto;
    }
}


@keyframes pulse {
    0% {
      top: 0;
    }
    50% {
        top: 8px;
      }
    100% {
        top: 0;
    }
}