#products-items {
    background-color: $white;
    padding-top: 80px;
    padding-bottom: 80px;
    @include max-mq ($md) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @include max-mq ($mb) {
        padding-top: 41px;
        padding-bottom: 41px;
    }
    &.products-items-section-single-page {
        background-color: $white;
        padding-bottom: 30px;
        padding-top: 0;
        @include max-mq ($mac - 100) {
            padding-bottom: 10px;
        }
        > div {
            @include max-mq ($md) {
                max-width: 100%;
                width: 100%;
            }
        }
    }
    .products-item {
        background-color: transparent;
        border: none;
        margin-top: 16px;
        padding-bottom: 15px;
        &.products-item-single-page {
            margin-top: 0;
            @include max-mq ($md) {
                text-align: left;
            }
        }
    }
    .product-main-image {
        img {
            @include transition-all;
        }
        a {
            &:hover {
                .main-product-image {
                    > img {
                        transform: scale(1.03);
                    }
                }
            }
        }
    }
    .products-item-inner {
        background-color: $grey-100;
        border: 1px solid $grey-400;
        border-radius: 5px;
        width: 100%;
        &.products-item-inner-single-page {
            background-color: transparent;
            border: none;
        }
        > a {
            display: block;
            position: relative;
            overflow: hidden;
            
            &:hover {
                .main-product-image,
                .products-item-image {
                    transform: scale(1.05);
                }
            }
        }
        .increase-icon-wrap {
            position: absolute;
            right: 21px;
            top: 0;
        }

    }
    .products-item-single-page {
        .increase-icon-wrap {
            right: 0;
        }
    }
    .products-item-featured-inner {
        .increase-icon-wrap {
            right: 4px;
            top: 1px;
            @include min-mq ($mac) {
                right: -35px;
            }
        }
        .narrow-conatiner {
            @include max-mq ($md) {
                align-items: flex-start;
            }
        }

    }
    .narrow-conatiner {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 89%;
        padding-bottom: 25px;
        padding-top: 25px;
        @include max-mq ($md) {
            max-width: 98%;
        }
        @include max-mq ($sm) {
            flex-wrap: wrap;
        }
        > div {
            @include max-mq ($sm) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            
        }
    }
    .product-description-options-content {
        @include max-mq ($sm) {
            order: 1;
        }
    }
    .product-main-image {
        @include max-mq ($sm) {
            order: 0;
        }
    }
    .products-item-details-single-page-wrap {
        .entry-header {
            padding-bottom: 0;
        }
    }
    .entry-header {
        padding-bottom: 5px;
    }
    .single-product-slider-wrap {
        padding-right: 15px;
        @include min-mq ($mac) {
            padding-right: 72px;
        }
    }
}
.date-cat-wrap {
    align-items: center
}

.product-options {
    padding-top: 4px;
    > p {
        font-weight: $font-weight-m;
    }
    .product-options-list {
        // display: block;
        display: flex;
        align-items: center;
        li {
            margin-right: 10px;
            position: relative;
            // display: inline-block;
            height: 30px;
            width: 30px;
            &:last-of-type {
                margin-right: 0;
            }
            label {
                height: 100%;
                line-height: normal;
                margin: 0;
                input {
                    opacity: 0;
                }
                &[for="red-radio"] {
                    input {
                        &:checked {
                            + span {
                                background-color: $product-color-100;
                            }
                        }
                    }
                    span {
                        &:after {
                            background-color: $product-color-100;
                        }
                    }
                }
                &[for="blue-radio"] {
                    input {
                        &:checked {
                            + span {
                                background-color: $product-color-200;
                            }
                        }
                    }
                    span {
                        &:after {
                            background-color: $product-color-200;
                        }
                    }
                }
                &[for="green-radio"] {
                    input {
                        &:checked {
                            + span {
                                background-color: $product-color-300;
                            }
                        }
                    }
                    span {
                        &:after {
                            background-color: $product-color-300;
                        }
                    }
                }
                &[for="yellow-radio"] {
                    input {
                        &:checked {
                            + span {
                                background-color: $product-color-400;
                            }
                        }
                    }
                    span {
                        &:after {
                            background-color: $product-color-400;
                        }
                    }
                }
                &[for="pink-radio"] {
                    input {
                        &:checked {
                            + span {
                                background-color: $product-color-500;
                            }
                        }
                    }
                    span {
                        &:after {
                            background-color: $product-color-500;
                        }
                    }
                }
                input {
                    &:checked {
                        + span {
                            background-color: $secondary-color;
                        }
                    }
                }
            }
            span {
                background-color: $white;
                border-radius: 50%;
                border: 1px solid $grey-400;
                bottom: 0;
                display: block;
                height: 100%;
                left: 0;
                margin: auto;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                &:hover {
                    cursor: pointer;
                }
                &:after {
                    content: '';
                    background-color: $tertiary-color;
                    border-radius: 50%;
                    bottom: 0;
                    display: block;
                    height: 20px;
                    left: 0;
                    margin: auto;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 20px;
                }
            }
        }
    }
}

.product-price {
    display: flex;
    align-items: center;
    padding-top: 8px;
    @include max-mq ($md) {
        justify-content: center;
    }
    .products-item-details-single-page-wrap & {
        padding-top: 0;
        @include max-mq ($md) {
            justify-content: flex-start;
        }
    }
    .products-item-details-featured-wrap & {
        @include max-mq ($md) {
            justify-content: flex-start;
        }
    }
    .new-price {
        font-size: $font-size-h4;
        font-weight: $font-weight-m;
        color: $tertiary-color;
        .products-item-details-single-page-wrap & {
            font-size: $font-size-h3 + 0.125;
            font-weight: $font-weight-b;
        }
    }
    .sale-price {
        @include just-after;
        &:after {
            background-color: $tertiary-color;
            height: 1px;
            width: 100%;
            top: 0;
            bottom: 0;
            margin: auto;
            transform: rotate(-25deg);
        }
    }
    p {
        margin-bottom: 0;
        margin-right: 10px;
        position: relative;
        &:last-of-type {
            margin-right: 0;
        }
    }
}

.products-item-featured-inner {
    margin-bottom: 48px;
    h3,
    .product-title {
        font-size: $font-size-h4;
    }
    .narrow-conatiner {
        padding-bottom: 0;
    }
}
.product-main-image-single-page {
    background-color: $grey-100;
    padding-top: 80px;
    @include max-mq ($mb) {
        padding-top: 40px;
    }
    &:after {
        background-color: $grey-100;
        bottom: 0;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 59vw;
        z-index: -1;
    }
}
.product-main-image {
    position: relative;
    .main-product-image {
        position: relative;
        max-width: 620px;
        margin-bottom: -118px;
        @include max-mq ($sm) {
            margin-bottom: 5px;
        }
        a {
            display: block;
        }
    }
}
.best-seller-label-image {
    max-width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    @include max-mq ($md) {
        top: auto;
        bottom: 0;
    }
    @include max-mq ($sm) {
        bottom: auto;
        left: 0;
        right: auto;
        top: 0;
    }
    img {
        @include max-mq ($sm) {
            margin-bottom: 0.1em;
            margin-top: 0.1em;
        }
    }
    > span {
        align-items: center;
        bottom: 0;
        color: $white;
        display: flex;
        font-size: $font-size-small;
        height: 100%;
        justify-content: center;
        left: 0;
        margin: auto;
        max-width: 65px;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}

.product-item-main-contnent-wrap-single-page {
    @include max-mq ($md) {
        flex-wrap: wrap;
    }
}

.products-item {
    .products-item-image {
        background-position: bottom center;
        background-repeat: no-repeat;
        min-height: 305px;
        width: 100%;
        @include transition-all;
    }
    .products-item-details-featured-wrap {
        @include max-mq ($md) {
            text-align: left;
        }
    }
    .products-item-details-wrap {
        &:not(.products-item-details-featured-wrap) {
            background-color: $white;
            padding: 30px 29px 25px 29px;
            border-radius: 0 0 5px 5px;
        }
        &.products-item-details-single-page-wrap {
            padding-left: 40px;
            padding-top: 52px;
            @include min-mq ($boot_bp) {
                padding-left: 108px;
                padding-top: 83px;
            }
            @include max-mq ($sm + 50) {
                padding-bottom: 10px;
            }
            @include max-mq ($mb) {
                padding-left: 0;
            }
            .best-seller-label-image {
                max-width: 58px;
                right: 8px;
                top: 75px;
                @include max-mq ($boot_bp) {
                    top: 15px;
                }
                @include max-mq ($md) {
                    top: 0;
                    bottom: auto;
                }
                @include max-mq ($sm) {
                    bottom: auto;
                    left: auto;
                    right: 8px;
                    top: 10px;
                }
                img {
                    margin-bottom: 0.1em;
                    margin-top: 0.1em;
                }
                span {
                    font-size: 0.625em;
                    max-width: 39px;
                }
                
            }
            .entry-content {
                padding-top: 30px;
                @include min-mq ($mac) {
                    padding-top: 51px;
                }
            }
        }
        .entry-content {
            padding-top: 10px;
        }
    }
    h3,
    .product-title {
        font-size: $font-size-h4;
    }
    h1.product-title {
        font-size: $font-size-h2;
        font-weight: $font-weight-m;
        @include max-mq ($lt) {
			font-size: $font-size-h2 - 0.5;
		}
		@include max-mq ($ls) {
			font-size: $font-size-h2 - 0.8;
		}
		@include max-mq ($tab) {
			font-size: $font-size-h2 - 0.95;
		}
		@include max-mq ($mb - 20) {
			font-size: $font-size-h2 - 1.2;
		}
    }
    .product-button {
        padding-top: 18px;
    }
    .qty-number-of-items {
        margin-right: 15px;
    }
    .product-number-of-items-button-wrap {
        display: flex;
        align-items: center;
        padding-top: 32px;
        @include max-mq ($lg) {
            display: block;
        }
        .is-btn {
            max-width: 290px;
            width: 100%;
            margin: 0;
            @include max-mq ($boot_bp) {
                max-width: 165px;
            }
            @include max-mq ($lg) {
                margin-top: 25px;
            }
        }
    }
    .qty-plus {
        margin-left: -5px;
    }
    .qty-minus {
        margin-right: -5px;
    }
    .qty-plus,
    .qty-minus {
        font-size: $font-size-large + 0.5;
        padding: 10px 13px;
        
    }
    .product-variation {
        select {
            margin-top: 15px;
        }
    }
    .terms-conditions-confirm-field {
        padding-top: 24px;
    }
}

.terms-conditions-confirm-field {
    text-align: left;
}